<div class="footer">
	<div class="container">
		<div class="nav-links">
			<a class="nav-link" href="/">Home</a>
			<a class="nav-link" href="/portfolio">Portfolio</a>
			<a class="nav-link" href="/about-me">About Me</a>
		</div>
		<div class="nav-links">
			<a class="nav-link" href="http://linkedin.com/in/felixhusen"><i class="fa fa-linkedin"></i></a>
			<a class="nav-link" href="http://github.com/felixhusen"><i class="fa fa-github" aria-hidden="true"></i></a>
		</div>
	</div>
</div>
<div class="copyright-footer">
	<p class="copyright-text">© 2019 Felix Husen.</p>
</div>