<navbar></navbar>
<div class="navbar-space"></div>
<div class="about-me">
	<div class="section">
		<div class="container">
			<h4 class="primary-text">About Me</h4>
			<hr class="line"/>
			<div class="row">
				<div class="col-xs-12 col-md-4 p-3">
					<img class="w-100" src="../../assets/images/avatar.jpg" alt="Felix Husen"/>
				</div>
				<div class="col-xs-12 col-md-8 p-3">
					<h3>Felix Husen</h3>
					<p>Computer Science student majoring in Sofware Engineering</p>
					<ul>
						<li>Software development skills required to create Financial Calculator app, Affirmation with Brainwave using Android Studio and React Native.</li>
						<li>Experience and knowledge in mobile application development, web development using react.js, node.js and databases.</li>
						<li>Communication skills required to facilitate students in Global Communicators Program at the University of Wollongong.</li>
						<li>Teamwork skills to replenish and tidy the shelves up at Coles Supermarket.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="section bg-light">
		<div class="container">
			<h4 class="primary-text">Experiences</h4>
			<hr class="line"/>
			<div class="experience mb-5">
				<p class="experience-date">Jul 2019 - Present</p>
				<h5 class="experience-title">Global Communicator Program Facilitator</h5>
				<p class="experience-company">University of Wollongong</p>
				<p class="experience-desc">
					• Facilitating students to learn about other cultures<br/>
					• Supporting students to meet new and interesting people<br/>
					• Planning activities that students will be doing on the session<br/>
					• Communicate with students from a range of cultures and backgrounds
				</p>
			</div>
			<div class="experience mb-5">
				<p class="experience-date">Mar 2018 - Present</p>
				<h5 class="experience-title">Team Member</h5>
				<p class="experience-company">Coles Supermarket</p>
				<p class="experience-desc">
					• Working with grocery and dairy team members to replenish store’s stock from the recently arrived stock to the shelves.<br/>
					• Tidying up the stock and the shelves to make the store presentable to the customers.<br/>
					• Scanning and investigating gap on the shelves.<br/>
					• Collecting all the cardboard rubbish and crushing it with the crusher to make the store clean.<br/>
					• Leading and looking after dairy team members to finish the stock filling and getting the store presentation done.
				</p>
			</div>
			<div class="experience">
				<p class="experience-date">Apr 2017 - Aug 2017</p>
				<h5 class="experience-title">Software Developer Internship</h5>
				<p class="experience-company">Kymtech Solusindo</p>
				<p class="experience-desc">
					• Planning, analyzing, design, develop and test a mobile application according to the stakeholder requirements.<br/>
					• Implementing stakeholder needs to the object-oriented concept (Using Ionic Framework).<br/>
					• Contribute developing and modifying website backend API with php and http request.<br/>
					• Gathering requirements and feedbacks from stakeholders.<br/>
					• Foster strong collaborative relationship and networks with stakeholder.
				</p>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<h4 class="primary-text">Education</h4>
			<hr class="line"/>
			<div class="education mb-5">
				<p>2018 - Present (Graduating in 2020)</p>
				<h5>Bachelor of Computer Science, Software Engineering</h5>
				<p>University of Wollongong</p>
				<p>Distinction Average</p>
				<p>
					- Advanced Programming<br/>
					- Knowledge and Information Engineering<br/>
					- Mathematics for Information Technology<br/>
					- IT Project Management<br/>
					- Database Systems<br/>
					- Management Information Systems<br/>
					- E-business<br/>
					- Human Computer Interaction
				</p>
			</div>
			<div class="education mb-5">
				<p>2017 - 2018</p>
				<h5>Diploma of Information Technology</h5>
				<p>University of Wollongong</p>
				<p>Distinction Average</p>
				<p>
					- Programming Fundamentals (Java)<br/>
					- Data Management & Security (MySQL)<br/>
					- System Analysis<br/>
					- Problem Solving<br/>
					- Object Oriented Design and Programming<br/>
					- Networks and Communications<br/>
					- Introduction to Web Technology<br/>
					- Introduction of Management
				</p>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<h4 class="primary-text">Honors & Awards</h4>
			<hr class="line"/>
			<div class="education mb-5">
				<p>Dec 2018</p>
				<h5>UOW Undergraduate Excellence Scholarship</h5>
				<p>University of Wollongong</p>
				<p>
					UOW Undergraduate Excellence Scholarship consists of a tuition fee waiver of 30%. It requires the student to maintain minimum required grade (Distinction or better) without any fail.
				</p>
			</div>
			<div class="education mb-5">
				<p>Aug 2017</p>
				<h5>UOW College Scholarship</h5>
				<p>University of Wollongong College</p>
				<p>
					Merit Based Scholarship which has a minimum high school mark 7.5 required.
				</p>
			</div>
		</div>
	</div>
</div>