@import '../../variables.scss';

@media (max-width: 992px) {
	.navbar {
		.navbar-collapse {
			margin: auto;
			position: absolute;
			top: 120px;
			left: 0;
			right: 0;
			padding: 40px 0px;
			background-color: #fff;
			box-shadow: 0 3px 3px rgba(182, 182, 182, 0.75);
			
			.navbar-nav {
				max-width: 80%;
				margin: auto;
			}

			.nav-link {
				display: flex;
				margin: 20px 0px;
			}

			.active .nav-link {
				color: $primaryColor;
				font-weight: $medium;
			}

			.nav-link::after, 
			.nav-link:hover::after, 
			.active .nav-link::after {
				display: none;
				margin: 0;

			}



			.primary-button {
				display: none;
			}
		}
	}
}

.navbar {
	position: absolute;
	width: 100%;
	padding: 30px;
	display: flex;
	height: 120px;
	z-index: 2;
	background-color: rgba(0,0,0,0);
	.navbar-brand {
		img {
			width: 85px;
		}
	}

	.navbar-collapse {
		justify-content: flex-end;
	}

	.nav-link {
		transition: $transitionStyle1;
		color: rgba(0,0,0,0.8);
		padding: 0px 15px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: $font-sm;
		font-weight: $regular;
	}

	.nav-link:hover {
		transition: $transitionStyle1;
		color: rgba(0,0,0,1);
	}

	.nav-link::after {
		content: '';
		display: block;
		width: 0;
		height: 2px;
		background: #000;
		transition: width .3s;
		margin-top: 5px;
	}

	.nav-link:hover::after {
		width: 100%;
	}

	.active .nav-link::after {
		color: rgba(0,0,0,1);
		width: 100%;
	}

	.navbar-toggler {
		outline: none;
		border: 0px;
		color: rgba(0,0,0,0.8);
	}

	.navbar-toggler:hover {
		color: rgba(0,0,0,1);
	}
}

