<navbar [ngStyle]="{ backgroundColor: 'white' }"></navbar>
<div class="navbar-space"></div>
<div class="projects">
	<div class="container">
		<h3 class="primary-text">Projects</h3>
		<hr class="line"/>
		<div class="project row">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<img class="project-image" src="../../assets/images/milenial_mockup.png" alt="Milenial Global Pro" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<h4 class="project-title">milenialglobalpro.com</h4>
				<p class="project-description">
					Milenial Global Pro is a property agent company in Indonesia, specialising in selling and renting houses, buildings, warehouses, land, and apartments. The company needs a website to host all the property listing for the potential buyers or renters to contact the agents. The website was primarily built using javascript technologies such as React.js and Node.js for the server side. For the database side, it uses MySQL and the website is hosted on Amazon web services.
					<br/>
					Main Features:
				</p>
				<ul>
					<li>Displays property listing</li>
					<li>Allows administrators to modify or delete property listing</li>
					<li>Allows administrators to create a new listing</li>
					<li>Search property listing with specified parameters</li>
				</ul>
				<a href="http://milenialglobalpro.com" class="btn primary-button">Open</a>
			</div>
		</div>
		<div class="project row">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<img class="project-image" src="../../assets/images/affirmation_mockup.png" alt="Affirmation with Brainwave" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<h4 class="project-title">Affirmation with Brainwave</h4>
				<p class="project-description">
					This affirmation app with inbuilt brainwaves sound and white noise can be used regularly for developing positive mindset.
					<br/>
					Main Features:
				</p>
				<ul>
					<li>Add new affirmation categories</li>
					<li>Modify or delete existing affirmation categories</li>
					<li>Add new affirmation</li>
					<li>Modify or delete existing affirmation</li>
					<li>Add voice recording to written affirmations for additional effect</li>
					<li>Add or modify affirmation background images within application</li>
					<li>Play alpha, theta or delta brainwaves in the background</li>
					<li>Mix the background music, brainwaves binaural sound and white noise</li>
				</ul>
				<a href="https://play.google.com/store/apps/details?id=com.paffirmation" class="btn primary-button">Open</a>
			</div>
		</div>
		<div class="project row">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<img class="project-image" src="../../assets/images/financial_mockup.png" alt="Financial Calculator" />
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<h4 class="project-title">Financial Calculator</h4>
				<p class="project-description">
					Financial Calculator gives you many kind of calculations for finance such as mortgage, present value and ect.
					<br/>
					Main Features:
				</p>
				<ul>
					<li>Performs compound interest, present value, return rate, annuity, present value of annuity, bond yield, mortgage, and retirement calculation.</li>
					<li>Saves and names calculation to the device</li>
					<li>Beautiful user interface with the latest design of android's material design</li>
				</ul>
				<a href="https://play.google.com/store/apps/details?id=com.ffx.fcalculator" class="btn primary-button">Open</a>
			</div>
		</div>
	</div>
</div>