/* Global Stylesheet file */
@import './assets/fonts/Roboto/stylesheet.css';
@import './variables.scss';

body {
	font-family: $primaryFont, sans-serif;
	font-weight: $regular;
	font-size: $primary-fs;
	border-box: box-sizing;
}

.bg-white {
	background-color: #fff;
}

::selection {
	color: #fff;
  	background: $primaryColor;
}

.navbar-space {
	height: 120px;
}

.primary-button {
	letter-spacing: 1px;
	border-radius: 4px;
	transition: $transitionStyle1;
	background-color: rgba($primaryColor, 1);
	padding: 10px 15px;
	box-sizing: border-box;
	color: #fff;
}

.primary-button:hover {
	transition: $transitionStyle1;
	background-color: rgba($primaryColor, 0.8);
	color: #fff;
	text-decoration: none;
	box-shadow: $dropShadow;
}

.outlined-button {
	transition: $transitionStyle1;
	border: 2px solid $primaryColor;
	border-radius: 0px;
	color: $primaryColor;
}

.outlined-button:hover {
	background-color: $primaryColor;
	color: #fff;
	box-shadow: $dropShadow;
}