/* Global variables */

/* Colors */
$primaryColor: #10acf3;
$footerColor: #292b2c;
$copyrightFooterColor: #000;

/* Fonts */

// primary font
$primaryFont: 'Roboto';
// font-weight
$thin:100;
$light:300;
$regular:400;
$medium:500;
$bold:700;
$black:900;
// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

/* Transitions */

$transitionStyle1: all 0.3s ease 0s;

/* Border box */

$dropShadow: 0px 0px 11px 0px rgba(0,0,0,0.31);