<navbar></navbar>
<div class="headline">
	<div class="bg-tint">
		<div class="content">
			<div class="container">
				<h1 class="primary-text">Felix Husen</h1>
				<p class="secondary-text">A third year computer science majoring in software engineering student of University of Wollongong. Living in Sydney, Australia. Passionate about developing websites and applications.</p>
				<a class="btn outlined-button" href="/portfolio">See my Works</a>
				<a class="btn outlined-button" href="/about-me">About Me</a>
			</div>
		</div>
	</div>
</div>
<div class="portfolio">
	<div class="container">
		<h2 class="primary-text">Portfolio</h2>
		<hr class="line"/>
		<p class="secondary-text">These are some of the works that i haved worked on recently</p>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-4 p-3">
				<div class="card text-white h-100">
					<img class="card-img" src="../../assets/images/milenialglobalpro.png" alt="Milenial Global Pro" />
					<div class="card-img-overlay">
						<h5 class="card-title">Milenial Global Pro</h5>
						<a href="http://milenialglobalpro.com" class="btn outlined-button">Open</a>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4 p-3">
				<div class="card text-white">
					<img class="card-img" src="../../assets/images/brainwaveaffirmation.png" alt="Affirmation with Brainwaves" />
					<div class="card-img-overlay">
						<h5 class="card-title">Affirmation with Brainwaves</h5>
						<a href="https://play.google.com/store/apps/details?id=com.paffirmation" class="btn outlined-button">Open</a>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4 p-3">
				<div class="card text-white">
					<img class="card-img" src="../../assets/images/financialcalculator.png" alt="Financial Calculator" />
					<div class="card-img-overlay">
						<h5 class="card-title">Financial Calculator</h5>
						<a href="https://play.google.com/store/apps/details?id=com.ffx.fcalculator" class="btn outlined-button">Open</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="contact-me bg-light">
	<h2 class="primary-text">Contact Me</h2>
	<hr class="line"/>
	<p>If you like my work and have some cool project to work on, just send me direct message or contact me through social media listed below.</p>
	<a class="btn primary-button" href="mailto:felixhusen@gmail.com">Contact Me</a>
</div>