<navbar></navbar>
<div class="headline">
	<div class="bg-tint">
		<div class="content">
			<div class="container">
				<h1 class="primary-text">Felix Husen</h1>
				<p class="secondary-text">A third year computer science majoring in software engineering student of University of Wollongong. Living in Sydney, Australia. Passionate about developing websites and applications.</p>
				<a class="btn outlined-button" href="/portfolio">See my Works</a>
				<a class="btn outlined-button" href="/about-me">About Me</a>
			</div>
		</div>
	</div>
</div>
<div class="portfolio">
	<div class="container">
		<h2 class="primary-text">Portfolio</h2>
		<hr class="line"/>
		<p class="secondary-text">These are some of the works that i haved worked on recently</p>
		<div class="row">
			<div class="col-12 col-sm-12 col-md-6 col-lg-4 p-3" *ngFor="let project of projects">
				<project [item]="project"></project>
			</div>
		</div>
	</div>
</div>